<%- include('partials/header'); -%>

<h1>Home</h1>

<p>Hi! Welcome to my Blog!</p>
<p>I will be posting some stuff that I find interesting</p>
<p>which will mostly be about technical new, reviews, problem solutions and more.</p>

<% posts.forEach(function(post) { %>
  <h2><%= post.title %></h2>
  <% var homeContent = post.content %>
  <% if (homeContent.length <= 100) { %>
    <% homeContent = homeContent + " "; %>
    <p><%= homeContent %><a href="/posts/<%= post.address %>">Read More</a></p>
  <% } else { %>
  <% homeContent = homeContent.substring(0, 100) + " ... "; %>
    <p><%= homeContent %><a href="/posts/<%= post.address %>">Read More</a></p>
  <% } %>

<% }) %>


<%- include('partials/footer'); -%>
